<div class="grid-container">
    <h1 class="mat-h1" style="margin: 0.75em">Spell Manager</h1>
    <div style="display: grid; gap: 0;">
        <mat-card *ngFor="let card of cards | async" [style]="cardStyle" class={{card.class}}>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{card.title}}</h3>
                    <button mat-icon-button aria-label="expand row" class="expand-card-button" *ngIf="card.expandMenu" (click)="expandCard(card.title)">
                        <mat-icon *ngIf="!isCardExpanded(card.title)">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="isCardExpanded(card.title)">keyboard_arrow_up</mat-icon>
                    </button>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content [class]="isCardExpanded(card.title) ? 'card-content' : 'visually-hidden'">
                <div *ngIf="card.title==='All Spells'">
                    <app-spellcard [id]="'allSpells'" [data]="data" [spellDetailsCalled]="spellDetailsCalled"></app-spellcard>
                </div>
                <div *ngIf="card.title==='Your Spells'">
                    <app-spellcard [id]="'yourSpells'" [data]="yourData" [spellDetailsCalled]="spellDetailsCalled"></app-spellcard>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>