@use '../../styles';

.card {
  background-color: styles.$color-5;
  border-radius: 12px;
}
.card.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  grid-area: 1 / 1 / span 1 / span 1;
}
.card.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid rgb(214, 214, 214);
  grid-area: 1 / 2 / span 1 / span 1;
}
.card.top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  grid-area: 1 / 1 / span 1 / span 1;
}
.card.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0.5em;
  grid-area: 2 / 1 / span 1 / span 1;
}

.expand-card-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.card-content {
  text-align: center;
  overflow: auto;
}

table {
  width: 100%;
}

mat-card-header {
  padding: 0 16px 0 16px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.filter-header {
  margin: 8px 0 0 0;
}