.solo-chip {
  margin-top: 0.25em; 
  margin-bottom: 0.25em;
  background-color: rgb(224, 224, 224);
  &:hover {
    cursor: pointer;
  }
}
.mat-mdc-standard-chip {
  --mdc-chip-background-color: black;
}

@media (min-width: 576px) {
  .column1 {
    grid-area: auto / 1 / span 1 / span 2;
    text-align: left;
  }
  .column2 {
    grid-area: auto / 3 / span 1 / span 2;
    text-align: right;
  }
}
@media (max-width: 575px) {
  .column1 {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: left;
  }
  .column2 {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: right;
  }
}


.grid-container {
    display: grid;
    grid:
        'header header header header'
        'column1 column2 column3 column4';
    grid-column-gap: 0;
    grid-row-gap: 0;
}