@use '@angular/material' as mat;

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.

// define a real custom palette (using http://mcg.mbitson.com)
$md-sage: (
    50 : #eceeea,
    100 : #cfd4cb,
    200 : #afb7a9,
    300 : #8f9a86,
    400 : #77856c,
    500 : #5f6f52,
    600 : #57674b,
    700 : #4d5c41,
    800 : #435238,
    900 : #324028,
    A100 : #bbff8b,
    A200 : #9dff58,
    A400 : #7eff25,
    A700 : #6fff0c,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-earth: (
    50 : #efe8e3,
    100 : #d7c5ba,
    200 : #bc9e8c,
    300 : #a1775e,
    400 : #8c5a3c,
    500 : #783d19,
    600 : #703716,
    700 : #652f12,
    800 : #5b270e,
    900 : #481a08,
    A100 : #ff9a7e,
    A200 : #ff734b,
    A400 : #ff4b18,
    A700 : #fd3800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// mandatory stuff for theming
$md-palette-primary: mat.define-palette($md-sage);
$md-palette-accent:  mat.define-palette($md-earth);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $md-palette-primary,
   accent: $md-palette-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);